.Test_copy_2 {
  position: absolute;
  left: 4040px;
  top: 5668px;
  width: 1920px;
  height: 1080px;
  z-index: 112;
}
.EN_____AR_copy {
  font-size: 30px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 1749px;
  top: 61.5px;
  z-index: 111;
}
.___Back {
  font-size: 60px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 697.625px;
  top: 941.5px;
  z-index: 110;
}
.Next___ {
  font-size: 60px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 989px;
  top: 941.5px;
  z-index: 109;
}
.Rounded_Rectangle_1_copy_4 {
  border-width: 5px;
  border-color: rgb(154, 1, 53);
  border-style: solid;
  border-radius: 10px;
  position: absolute;
  left: 69px;
  top: 803px;
  width: 1648px;
  height: 88px;
  z-index: 108;
}
.Rounded_Rectangle_1_copy_3 {
  border-width: 5px;
  border-color: rgb(154, 1, 53);
  border-style: solid;
  border-radius: 10px;
  position: absolute;
  left: 66px;
  top: 680px;
  width: 1648px;
  height: 88px;
  z-index: 107;
}
.Rounded_Rectangle_1_copy_2 {
  border-width: 5px;
  border-color: rgb(154, 1, 53);
  border-style: solid;
  border-radius: 10px;
  position: absolute;
  left: 66px;
  top: 557px;
  width: 1648px;
  height: 88px;
  z-index: 106;
}
.Rounded_Rectangle_1_copy {
  border-width: 5px;
  border-color: rgb(154, 1, 53);
  border-style: solid;
  border-radius: 10px;
  position: absolute;
  left: 69px;
  top: 434px;
  width: 1648px;
  height: 88px;
  z-index: 105;
}
.read_books__articles_and_handouts_ {
  font-size: 48px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 555px;
  top: 576.4px;
  z-index: 104;
}
.see_patterns_in_things_ {
  font-size: 48px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 698.391px;
  top: 824.4px;
  z-index: 103;
}
.like_to_talk_things_through_ {
  font-size: 48px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 650px;
  top: 696.4px;
  z-index: 102;
}
.use_examples_and_applications_ {
  font-size: 48px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 592px;
  top: 455.4px;
  z-index: 101;
}
.What_s_your_learning_style__When_I_am_learning_I:_ {
  font-size: 72px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 66px;
  top: 74.601px;
  z-index: 100;
}
