.Test_copy {
  position: absolute;
  left: 4040px;
  top: 4372px;
  width: 1920px;
  height: 1080px;
  z-index: 98;
}
.EN_____AR_copy {
  font-size: 30px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 1749px;
  top: 61.5px;
  z-index: 97;
}
.___Back {
  font-size: 60px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 697.625px;
  top: 941.5px;
  z-index: 96;
}
.Next___ {
  font-size: 60px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 989px;
  top: 941.5px;
  z-index: 95;
}
.Rounded_Rectangle_1_copy_4 {
  border-width: 5px;
  border-color: rgb(154, 1, 53);
  border-style: solid;
  border-radius: 10px;
  position: absolute;
  left: 69px;
  top: 803px;
  width: 1648px;
  height: 88px;
  z-index: 94;
}
.Rounded_Rectangle_1_copy_3 {
  border-width: 5px;
  border-color: rgb(154, 1, 53);
  border-style: solid;
  border-radius: 10px;
  position: absolute;
  left: 66px;
  top: 680px;
  width: 1648px;
  height: 88px;
  z-index: 93;
}
.Rounded_Rectangle_1_copy_2 {
  border-width: 5px;
  border-color: rgb(154, 1, 53);
  border-style: solid;
  border-radius: 10px;
  position: absolute;
  left: 66px;
  top: 557px;
  width: 1648px;
  height: 88px;
  z-index: 92;
}
.Rounded_Rectangle_1_copy {
  border-width: 5px;
  border-color: rgb(154, 1, 53);
  border-style: solid;
  border-radius: 10px;
  position: absolute;
  left: 69px;
  top: 434px;
  width: 1648px;
  height: 88px;
  z-index: 91;
}
.from_somebody_who_talks_it_through_with_me_ {
  font-size: 48px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 419.547px;
  top: 576.4px;
  z-index: 90;
}
.using_a_written_description_of_my_results_ {
  font-size: 48px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 478px;
  top: 824.4px;
  z-index: 89;
}
.using_graphs_showing_what_I_achieved_ {
  font-size: 48px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 503px;
  top: 696.4px;
  z-index: 88;
}
.using_examples_from_what_I_have_done_ {
  font-size: 48px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 499px;
  top: 455.4px;
  z-index: 87;
}
.What_s_your_learning_style__I_have_finished_a_c {
  font-size: 72px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 65.437px;
  top: 74.601px;
  z-index: 86;
}
