
        body{
            background: url(background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
     
        }
        .hope{
            height: 50px;
            padding: 20px;
        }
        .book{
            position: absolute;
            top:50%;
            left: 3%;
            height: 50px;
            
        }
        .start{
            position: absolute;
            top: 52%;
            left: 10%;
            height: 30px;
        }
        .slogo{
            position: absolute;
            top: 70%;
            left: 3%;
            
            height: 70px;
            width: 70px;
        
        }
        .au{
            position: absolute;
            top: 72%;
            left: 10%;
            height: 50px;
            width: 150px;
        }
        .im{
            height: 80%;width: 60%;position: absolute; top: 0%; left: 40%;
        }
        .cp{
            padding: 20px;
            position: absolute;
            top: 20%;
            height: 100px;
            width: 300px;
        }