.Audio {
  position: absolute;
  left: 6060px;
  top: 350px;
  width: 1920px;
  height: 1080px;
  z-index: 349;
}
.Read___Write_Learners_How_to_recognize_read___w {
  background-image: url("Read / Write Learners How to recognize read / write learners: R.png");
  position: absolute;
  left: 38px;
  top: 207px;
  width: 1796px;
  height: 814px;
  z-index: 348;
}
.Layer_9_copy {
  background-image: url("Layer 9 copy.png");
  opacity: 0.29;
  position: absolute;
  left: 1643px;
  top: 149px;
  width: 213px;
  height: 225px;
  z-index: 347;
}
.bar {
  position: absolute;
  left: -6060px;
  top: -350px;
  width: 22160px;
  height: 6776px;
  z-index: 346;
}
.Home {
  background-image: url("Home.png");
  position: absolute;
  left: 6525px;
  top: 415px;
  width: 100px;
  height: 27px;
  z-index: 345;
}
.Browse {
  background-image: url("Browse.png");
  position: absolute;
  left: 6775px;
  top: 414px;
  width: 124px;
  height: 27px;
  z-index: 344;
}
.EN_____AR {
  background-image: url("EN     AR.png");
  position: absolute;
  left: 7812px;
  top: 418px;
  width: 128px;
  height: 23px;
  z-index: 343;
}
.About_us {
  background-image: url("About us.png");
  position: absolute;
  left: 7050px;
  top: 415px;
  width: 157px;
  height: 28px;
  z-index: 342;
}
.Rectangle_1_copy_2 {
  background-image: url("Rectangle 1 copy 2.png");
  opacity: 0.62;
  position: absolute;
  left: 7824px;
  top: 1320px;
  width: 104px;
  height: 52px;
  z-index: 341;
}
.logo_copy {
  background-image: url("logo copy.png");
  position: absolute;
  left: 6103px;
  top: 382px;
  width: 275px;
  height: 59px;
  z-index: 340;
}
.Layer_6 {
  background-image: url("Layer 6.png");
  opacity: 0.11;
  position: absolute;
  left: 5992px;
  top: 358px;
  width: 1988px;
  height: 108px;
  z-index: 339;
}
.Layer_5 {
  background-image: url("Layer 5.png");
  position: absolute;
  left: 0px;
  top: 0px;
  width: 0px;
  height: 0px;
  z-index: 338;
}
