.Results_copy {
  position: absolute;
  left: 14109px;
  top: 3146px;
  width: 1920px;
  height: 1080px;
  z-index: 195;
}
.Kine_100 {
  background-image: url("Kine 100.png");
  position: absolute;
  left: 702px;
  top: 278px;
  width: 490px;
  height: 592px;
  z-index: 194;
}
.Try_Again {
  font-size: 72px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 1457.562px;
  top: 483.601px;
  z-index: 193;
}
.Start_Learning {
  font-size: 72px;
  font-family: "Gotham";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 706.453px;
  top: 928.601px;
  z-index: 192;
}
.Rounded_Rectangle_2 {
  border-radius: 20px;
  background-color: rgb(154, 1, 53);
  position: absolute;
  left: 682px;
  top: 912px;
  width: 549px;
  height: 122px;
  z-index: 191;
}
.___Info {
  font-size: 72px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 163.75px;
  top: 488.8px;
  z-index: 190;
}
.Your_predicted_learning_style_is_Kinesthetic_Le {
  font-size: 72px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 412.609px;
  top: 32.601px;
  z-index: 189;
}
