.Test_copy_9 {
  position: absolute;
  left: 14109px;
  top: 4372px;
  width: 1920px;
  height: 1080px;
  z-index: 182;
}
.EN_____AR_copy {
  font-size: 30px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 1749px;
  top: 61.5px;
  z-index: 181;
}
.___Back {
  font-size: 60px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 697.625px;
  top: 941.5px;
  z-index: 180;
}
.Next___ {
  font-size: 60px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 989px;
  top: 941.5px;
  z-index: 179;
}
.Rounded_Rectangle_1_copy_4 {
  border-width: 5px;
  border-color: rgb(154, 1, 53);
  border-style: solid;
  border-radius: 10px;
  position: absolute;
  left: 69px;
  top: 803px;
  width: 1648px;
  height: 88px;
  z-index: 178;
}
.Rounded_Rectangle_1_copy_3 {
  border-width: 5px;
  border-color: rgb(154, 1, 53);
  border-style: solid;
  border-radius: 10px;
  position: absolute;
  left: 66px;
  top: 680px;
  width: 1648px;
  height: 88px;
  z-index: 177;
}
.Rounded_Rectangle_1_copy_2 {
  border-width: 5px;
  border-color: rgb(154, 1, 53);
  border-style: solid;
  border-radius: 10px;
  position: absolute;
  left: 66px;
  top: 557px;
  width: 1648px;
  height: 88px;
  z-index: 176;
}
.Rounded_Rectangle_1_copy {
  border-width: 5px;
  border-color: rgb(154, 1, 53);
  border-style: solid;
  border-radius: 10px;
  position: absolute;
  left: 69px;
  top: 434px;
  width: 1648px;
  height: 88px;
  z-index: 175;
}
.Question_and_answer__talk__group_discussion__or {
  font-size: 48px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 153px;
  top: 578.4px;
  z-index: 174;
}
.Diagrams__charts__maps_or_graphs_ {
  font-size: 48px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 515px;
  top: 824.4px;
  z-index: 173;
}
.Handouts__books__or_readings_ {
  font-size: 48px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 551px;
  top: 699.4px;
  z-index: 172;
}
.Demonstrations__models_or_practical_sessions_ {
  font-size: 48px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 363px;
  top: 455.4px;
  z-index: 171;
}
.What_s_your_learning_style__I_prefer_a_presente {
  font-size: 72px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 65.766px;
  top: 74.601px;
  z-index: 170;
}
