.Test_copy_11 {
  position: absolute;
  left: 18149px;
  top: 4372px;
  width: 1920px;
  height: 1080px;
  z-index: 210;
}
.EN_____AR_copy {
  font-size: 30px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 1749px;
  top: 61.5px;
  z-index: 209;
}
.___Back {
  font-size: 60px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 697.625px;
  top: 941.5px;
  z-index: 208;
}
.Next___ {
  font-size: 60px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 989px;
  top: 941.5px;
  z-index: 207;
}
.Rounded_Rectangle_1_copy_4 {
  border-width: 5px;
  border-color: rgb(154, 1, 53);
  border-style: solid;
  border-radius: 10px;
  position: absolute;
  left: 69px;
  top: 803px;
  width: 1648px;
  height: 88px;
  z-index: 206;
}
.Rounded_Rectangle_1_copy_3 {
  border-width: 5px;
  border-color: rgb(154, 1, 53);
  border-style: solid;
  border-radius: 10px;
  position: absolute;
  left: 66px;
  top: 680px;
  width: 1648px;
  height: 88px;
  z-index: 205;
}
.Rounded_Rectangle_1_copy_2 {
  border-width: 5px;
  border-color: rgb(154, 1, 53);
  border-style: solid;
  border-radius: 10px;
  position: absolute;
  left: 66px;
  top: 557px;
  width: 1648px;
  height: 88px;
  z-index: 204;
}
.Rounded_Rectangle_1_copy {
  border-width: 5px;
  border-color: rgb(154, 1, 53);
  border-style: solid;
  border-radius: 10px;
  position: absolute;
  left: 69px;
  top: 434px;
  width: 1648px;
  height: 88px;
  z-index: 203;
}
.Examples_where_the_project_has_been_used_succes {
  font-size: 48px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 238px;
  top: 578.4px;
  z-index: 202;
}
.A_written_report_describing_the_main_features_o {
  font-size: 40px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 335.235px;
  top: 826px;
  z-index: 201;
}
.Diagrams_to_show_the_project_stages_with_charts {
  font-size: 45px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 121px;
  top: 699.7px;
  z-index: 200;
}
.An_opportunity_to_discuss_the_project_ {
  font-size: 48px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 451.891px;
  top: 455.4px;
  z-index: 199;
}
.What_s_your_learning_style__I_want_to_learn_abo {
  font-size: 72px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 65.766px;
  top: 74.601px;
  z-index: 198;
}
