.Test_copy_8 {
  position: absolute;
  left: 12089px;
  top: 4372px;
  width: 1920px;
  height: 1080px;
  z-index: 168;
}
.EN_____AR_copy {
  font-size: 30px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 1749px;
  top: 61.5px;
  z-index: 167;
}
.___Back {
  font-size: 60px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 697.625px;
  top: 941.5px;
  z-index: 166;
}
.Next___ {
  font-size: 60px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 989px;
  top: 941.5px;
  z-index: 165;
}
.Rounded_Rectangle_1_copy_4 {
  border-width: 5px;
  border-color: rgb(154, 1, 53);
  border-style: solid;
  border-radius: 10px;
  position: absolute;
  left: 69px;
  top: 803px;
  width: 1648px;
  height: 88px;
  z-index: 164;
}
.Rounded_Rectangle_1_copy_3 {
  border-width: 5px;
  border-color: rgb(154, 1, 53);
  border-style: solid;
  border-radius: 10px;
  position: absolute;
  left: 66px;
  top: 680px;
  width: 1648px;
  height: 88px;
  z-index: 163;
}
.Rounded_Rectangle_1_copy_2 {
  border-width: 5px;
  border-color: rgb(154, 1, 53);
  border-style: solid;
  border-radius: 10px;
  position: absolute;
  left: 66px;
  top: 557px;
  width: 1648px;
  height: 88px;
  z-index: 162;
}
.Rounded_Rectangle_1_copy {
  border-width: 5px;
  border-color: rgb(154, 1, 53);
  border-style: solid;
  border-radius: 10px;
  position: absolute;
  left: 69px;
  top: 434px;
  width: 1648px;
  height: 88px;
  z-index: 161;
}
.A_discussion_with_the_owner_ {
  font-size: 48px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 559.89px;
  top: 577.7px;
  z-index: 160;
}
.A_printed_description_of_the_rooms_and_features_ {
  font-size: 48px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 346.891px;
  top: 824.4px;
  z-index: 159;
}
.A_plan_showing_the_rooms_and_a_map_of_the_area_ {
  font-size: 48px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 319.891px;
  top: 699.4px;
  z-index: 158;
}
.To_view_a_video_of_the_property_ {
  font-size: 48px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 525.703px;
  top: 455.4px;
  z-index: 157;
}
.What_s_your_learning_style__I_want_to_find_out_ {
  font-size: 72px;
  font-family: "Gotham";
  color: rgb(154, 1, 53);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 65.547px;
  top: 74.601px;
  z-index: 156;
}
